<h1>Kittens</h1>

<% @kittens.each do |kitten| %>
  <% kitten_info = "Name: #{kitten.name}, Age: #{kitten.age}" %>
  <%= link_to kitten_info, kitten_path(kitten) %>,
  <%= link_to 'Delete', kitten_path(kitten), method: "delete" %>
  <br />
<% end %>
