// Place all the styles related to the Kittens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

li {
	display: inline;
	float: right;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
